* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --red: #ab3c3c;
    --dark-blue-green: #314b57;
    --text-white: #fff;
}

p {
    font-family: "Helvetica", "Arial", sans-serif;
}

a {
    color: var(--red);
    font-family: "Helvetica", "Arial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", serif;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 2em;
    color: #b22222;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

.text-white {
    color: var(--text-white);
}

.text-left {
    text-align: left;
}

.fs-51 {
    font-size: 51px;
}

/* Services Section */
header {
    position: relative;
    background-color: var(--dark-blue-green);
    overflow: hidden;
    margin-bottom: 1rem;
}

h1.text-white.heating-title {
    font-size: 24px;
}

.container {
    position: relative;
    z-index: 1;
}

.services {
    display: flex;
    width: 60%;
    padding: 20px 0px;
}

.service {
    color: white;
    margin-right: 20px;
}

.service h3 {
    text-transform: uppercase;
}

.service img {
    border-radius: 50%;
    margin-bottom: 10px;
    max-width: 100%;
}

.submap {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    background: url('/assets/images/sub_map.jpg') no-repeat center center;
    background-size: cover;
    z-index: 0;
}

/* Media Queries for responsiveness */

@media (max-width: 1024px) {
    .container {
        max-width: 1720px;
    }
}

@media (max-width: 768px) {
    h1.text-white.heating-title {
        font-size: 20px;
        text-align: center;
        margin-top: 1em;
    }

    .services {
        flex-direction: row;
        width: 100%;
    }

    .service {
        text-align: center;
    }

    .submap {
        width: 100%;
        position: relative;
        height: auto;
    }

    header {
        padding-bottom: 1rem;
    }

    h3 {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h1.text-white.heating-title {
        font-size: 18px;/
    }

    .service img {
        max-width: 70%;
    }

    .service {
        margin-right: 1dvh;
    }


    .service h3 {
        font-size: 10px;
    }
}


/* Service Area Section */
.service-content {
    display: flex;
    align-items: flex-start;
}

.service-content img {
    margin-right: 20px;
}

.service-description {
    flex: 1;
}

.service-description p {
    line-height: 1.6;
}

.service-description a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
}

.service-description a:hover {
    text-decoration: underline;
}

.service-description-links {
    margin-top: 3em;
    font-size: 18px;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .service-area {
        margin: 10px;
    }

    .service-content {
        flex-direction: column;
        align-items: center;
    }

    .service-content img {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .service-description a {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 20px;
    }

    .service-description-links {
        font-size: 16px;
    }
}

/* Articles Section */
.articles-section {
    margin-top: 100px;
    margin-bottom: 1rem;
}

h2 {
    font-size: 24px;
    color: #c0392b;
    margin-bottom: 20px;
}

.articles-container {
    display: flex;
    justify-content: space-between;
}

.article {
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article img {
    width: 100%;
    height: auto;
}

.article p {
    line-height: 1.6;
    color: #333;
    margin: 10px 0;
    flex-grow: 1;
}

.article a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 18px;
}

.article a:hover {
    text-decoration: underline;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    h2 {
        font-size: 20px;
    }

    .article {
        flex: 1 1 45%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 18px;
    }

    .articles-container {
        flex-direction: column;
    }

    .article {
        flex: 1 1 100%;
        margin: 10px 0;
    }
}